body {
    margin: auto;
    margin-top: 80px;
    width: 1442px;
    /* position:relative;  */
}

#filter-selection-menu {
    /* position: -webkit-sticky;
    position: sticky; */
    position: fixed;
    top: 5em;
    padding-left: 1em;
    padding-bottom: 13em;
}

#legend-menu {
    position: absolute;
    top: 1em;
    right: 2em;
}

#map {
    width: 100%;
    height: 400px;
}

dk {
    font-weight: bold;
}

.histogram-label {
    font-size: .8em;
}

.pass-through {
    pointer-events:none;
}

#textual {
    margin-top: 2em;
    margin-bottom: .5em;
}

#textual h4 {
    text-align:center;
}

h1 {
    text-align:center;
}

.keyPoint {
    margin-right: 10px;
}

#legend-menu h5 {
    margin-top: 1em;
    margin-bottom: .5em;
}

.deleteFilterMark {
    cursor: pointer;
}