body {
    margin: auto;
    margin-top: 80px;
    width: 1442px;
    /* position:relative;  */
}

#filter-selection-menu {
    /* position: -webkit-sticky;
    position: sticky; */
    position: fixed;
    top: 7em;
    margin-left: 1em;
    padding-bottom: 13em;
}

#demo-button {
    position: fixed;
    top: 4.5em;
    margin-left: 1em;
}

#legend-menu {
    position: absolute;
    top: 3em;
    right: 2em;
}

#map {
    width: 100%;
    height: 400px;
}

dk {
    font-weight: bold;
}

.histogram-label {
    font-size: .8em;
}

.pass-through {
    pointer-events:none;
}

#textual {
    margin-top: 2em;
    margin-bottom: .5em;
}

#textual h4 {
    text-align:center;
}

h1 {
    text-align:center;
}

.keyPoint {
    margin-right: 10px;
}

#legend-menu h5 {
    margin-top: 1em;
    margin-bottom: .5em;
}

.deleteFilterMark {
    cursor: pointer;
}

#tabs > li > a {
    color: grey;
    font-size: .8em;
    line-height: 1.1;
    padding: 10px 13px;
}

#slide-date {
    margin: 0;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: .9em;
}

.hidden-stuff {
    visibility: hidden;
    /* display: none; */
}

#slider-and-info input {
    margin-bottom: 5px;
}

#tabs {
    margin-bottom: 3px;
}

#original-url {
    font-size: .8em;
}

.cardinal-label {
    font-size: .8em;
}


#legend-menu .selectKeyPoint circle {
    fill: none;
    stroke: grey;
}

#legend-menu .selected circle {
    fill: grey;
}


#legend-menu h5 {
    display: inline;
}

#legend-menu .selectKeyPoint {
    margin-left: 7px;
    padding-top: 1px;
}