body {
    margin-top: 2em;
}

#filter-selection-menu {
    position: fixed;
    top: 6em;
    left: 2em;
}

#map {
    width: 100%;
    height: 400px;
}

dk {
    font-weight: bold;
}

.histogram-label {
    font-size: .8em;
}

.pass-through {
    pointer-events:none;
}

#textual {
    margin-top: 1em;
    margin-bottom: .5em;
}

#textual h5 {
    text-align:center;
}

h1 {
    text-align:center;
}